{% extends 'base_compras.html' %}

{% block content %}
  <h2>Items de la Factura: {{ compra.numero_factura }}</h2>
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for detalle in compra.detallecompra_set.all %}
        <tr>
          <td>{{ detalle.producto }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.precio }}</td>
          <td>{{ detalle.subtotal }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'detalle_compra' compra.id %}">Volver a la Factura</a></p>
{% endblock %}
