<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Inicio</h1>
    <ul>
        <li><a href="{% url 'lista_clientes' %}">Clientes</a></li>
        <li><a href="{% url 'lista' %}">Productos</a></li>
        <li><a href="{% url 'lista_ventas' %}">Ventas</a></li>
        <li><a href="{% url 'lista_proveedores' %}">Proveedores</a></li>
        <li><a href="{% url 'lista_compras' %}">Compras</a></li>
        <!-- Agrega aquí otros enlaces a módulos adicionales -->
    </ul>
</body>
</html>
