{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tabla de Clientes</title>
    <script src="{% static '../static/script.js' %}"></script>
</head>
<body>
    <h1>Tabla de Clientes</h1>

    <table>
        <thead>
            <tr>
                <th>Cliente ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Mov</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.cliente_id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.mov }}</td>
                <td>
                    <input type="checkbox" name="selected_clientes" value="{{ cliente.cliente_id }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <button id="crear-cliente" class="btn btn-primary">Crear Cliente</button>
        <button id="editar-cliente" class="btn btn-primary" disabled>Editar Cliente</button>
        <button id="eliminar-cliente" class="btn btn-danger" disabled>Eliminar Cliente</button>
    </div>
</body>
</html>
